<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817022045744-bdpnkv3ehfn5qtkgghbq7m9tu7mk3lj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817022045744-bdpnkv3ehfn5qtkgghbq7m9tu7mk3lj3</string>
	<key>API_KEY</key>
	<string>AIzaSyDgS-SqZAC9h2FPczuGmlb7TwAEh5KMHU4</string>
	<key>GCM_SENDER_ID</key>
	<string>817022045744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsonollc.BENZO</string>
	<key>PROJECT_ID</key>
	<string>benzo-97b4e</string>
	<key>STORAGE_BUCKET</key>
	<string>benzo-97b4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:817022045744:ios:41274f3c0e5dec7f7b27f5</string>
</dict>
</plist>
